header {
    font-size: 23px;
    text-align: center;
    font-family: 'Helvetica';
    font-weight: lighter;
    color:#fff;

}

body {
    background-color:#262E31;
}

.carousel-inner {
    position: relative;
    width: 70%;
    overflow: hidden;
    margin-left: 60px;
}


/*footer nav styles*/
.MainContainer {
    width: 1200px;
    background-color: #0066CC;
}
.MenuContainer {
    height: 70px;

}
ul#navigation {
    height: 70px;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-width: 1px 0;
    text-align: center;
    font-size: 22px;
    font-family: 'Cham-WebFont', Arial, sans-serif;
    position:fixed;
    bottom:0;
    width:100%;
}
ul#navigation li {
    display: inline;
    margin-right: .75em;
    list-style: none;
    margin: 38px;
    padding: 0;
}
ul#navigation li.last {
    margin-right: 0;
}

.footerLink {
    color:#fff;
    font-size:15px;
    font-family:'helvetica';
    font-weight:lighter;

}

/* workout functionality*/
/*.end {
  display: none;
}*/
